<article id="<%= dom_id article %>" class="h-entry">
  <h2 class="p-name"><%= link_to article.title, article %></h2>
  
  <div class="e-content">
    <%= markdown article.body %>
  </div>
  
  <small>
    Published
    <%= link_to article_permalink_path(article), class: "u-url" do %>
      <time class="dt-published" datetime="<%= article.published_at.to_fs(:iso8601) %>">
        <%= article.published_at.to_fs(:short) %>
      </time>
    <% end %>
  </small>
</article>
